<tr class="<%= render_trade_history_response_type(trade_request) %>"> 
	<td><%= trade_request.created_at.strftime("%d %b %Y %H:%M") if trade_request.responsed_at%>    </td>
	<td><%= trade_request.offerer.username %>  </td>
	<td><%= trade_request.receiver.username %> </td>
	<td><%= trade_request.response.titleize %>          </td>
	<td><%= trade_request.responsed_at.strftime("%d %b %Y %H:%M") if trade_request.responsed_at %> </td>
</tr>